<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width = 750">
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css" charset="utf-8">
		<title>{{ page.title }}</title>
	</head>
	<body>
		<p id="title"><a id="textz">Tiger/Polar Bear</a></p>
		<p><span id="textz">Codes, tunes, art... games.</span></p>
		{% for post in site.posts %} 
		<p id="postname"><a id="textz" href="{{ post.url }}">{{ post.title }}</a></p>
		{% endfor %}
		<p><span id="textx">Copyright 2010 Jared Norman</span></p>
	</body>
</html>
